// set up susy layout
$total-columns:   12;
$container-width: 1200px;

// $debug is either "show" or "hide"
$debug: hide;

$susy: (
  columns: $total-columns,
  gutters: 1/6,
  container: $container-width,
  box-sizing: border-box,
  math: fluid,

  debug: (
    image: $debug,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
);

$port: 360px;
$tablet: 768px;