body {
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}

p {
  line-height: 2;
}

h1 {
    font-family: 'Josefin Sans';
    font-size: 3em;
    font-weight: 700;

}

h2 {
    font-family: 'Josefin Sans';
    font-size: 3em;
    font-weight: 700;

}

img, media {
  max-width: 100%;
}
