.navigation {
  display: none;
  @include breakpoint($narrow, true) {
    display: block;
  }
}

.navigation.open {
  display: block;
  clear: both;
  @include breakpoint($narrow, true) {
    clear:none;
  }
}

ul.menu {
  padding: 0;
}

.menu {
  margin: 0;

  .leaf {
    list-style-image: none;
    list-style-type: none;
  }

  a {
    background: $background;
    color: $white;
    display: block;
    margin-bottom: 1px;
    padding: 10px;

    @include breakpoint($narrow, true) {
      background: inherit;
      color: $link;
      margin-bottom: 0;
    }
  }

  @include breakpoint($narrow, true) {
    display: flex !important;
    float: right;
  }
}