.navigation {
  display: none;
  @include breakpoint($narrow, true) {
    display: block;
  }
}

.navigation.open {
  display: block;
  clear: both;
  @include breakpoint($narrow, true) {
    clear:none;
  }
}

.menu {
  margin: 0;

  .leaf {
    list-style-image: none;
    list-style-type: none;
  }

  a {
    display: block;
    padding: 10px;

  }

  @include breakpoint($narrow, true) {
    display: flex !important;
    float: right;
  }
}