.content {
  padding: 0 40px;
}

.side {
  padding: 0 30px;
}

.submitted-by {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: .8em;
  margin: 30px;
}

a.background {
  border: 1px solid $link-border-color;
  color: $link;
  display: block;
  background: $white;
  padding: 10px 20px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    background: $link;
  }
}
p {
  padding: 0 20px;
}