//SET 1 Styles
//colors;
$background: #C45748;
$menu-expander-bg: #C45748;
$link: #C45748 !default;
$link-hover: #DC6251 !default;
$link-border-color: #C45748 !default;

@import "../sniper.styles.scss";