body {
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}
a:hover {
  color: #999999;
}

p {
  line-height: 2;
}

h1 {
  font-family: 'Josefin Sans';
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  padding: 20px 0;
}

h2 {
  font-family: 'Josefin Sans';
  font-size: 3em;
  font-weight: 700;
}

img, media {
  max-width: 100%;
}

.page {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page:after {
  content: " ";
  display: block;
  clear: both;
}

.content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.26506%;
  float: left;
  margin-right: 1.20482%;
}

.side {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 32.53012%;
  float: right;
  margin-right: 0;
}

.title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.13253%;
  float: left;
  margin-right: 1.20482%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40.96386%;
  float: left;
  margin-right: 1.20482%;
}

.menu-expander {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 15.66265%;
  float: right;
  margin-right: 0;
}

.header {
  border-bottom: 1px solid #999999;
  margin-bottom: 20px;
  overflow: hidden;
}
.header .title {
  float: left;
  padding: 10px;
}

.block--block-1 img {
  border-radius: 50%;
}

.menu-expander {
  background: #999999;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  display: none;
}

.navigation {
  display: none;
  display: block;
}

.navigation.open {
  display: block;
  clear: both;
  clear: none;
}

ul.menu {
  padding: 0;
}

.menu {
  margin: 0;
  display: flex !important;
  float: right;
}
.menu .leaf {
  list-style-image: none;
  list-style-type: none;
}
.menu a {
  background: #999999;
  color: #ffffff;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
  background: inherit;
  color: #1b1b1b;
  margin-bottom: 0;
}

.content {
  padding: 0 40px;
}

.side {
  padding: 0 30px;
}

.submitted-by {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: .8em;
  margin: 30px;
}

a.background {
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
  display: block;
  background: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
}
a.background:hover {
  color: #ffffff;
  background: #1b1b1b;
}

p {
  padding: 0 20px;
}
