body {
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}
a:hover {
  color: #999999;
}

p {
  line-height: 2;
}

h1 {
  font-family: 'Josefin Sans';
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-family: 'Josefin Sans';
  font-size: 3em;
  font-weight: 700;
}

img, media {
  max-width: 100%;
}

.page {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 768px) {
  .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.26506%;
    float: left;
    margin-right: 1.20482%;
  }

  .side {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 32.53012%;
    float: right;
    margin-right: 0;
  }
}
.header {
  border-bottom: 1px solid #999999;
  margin-bottom: 40px;
  overflow: hidden;
  padding: 20px;
}
.header .title {
  float: left;
}

.block--block-1 img {
  border-radius: 50%;
}

.menu {
  display: flex;
  float: right;
  margin: 0;
}
.menu a {
  padding: 10px;
}
.menu .leaf {
  list-style-image: none;
  list-style-type: none;
}

.content {
  padding: 0 40px;
}

.side {
  padding: 0 30px;
}

.submitted-by {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: .8em;
  margin: 30px;
}

a.background {
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
  display: block;
  background: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
}
a.background:hover {
  color: #ffffff;
  background: #1b1b1b;
}

p {
  padding: 0 20px;
}
